In [ ]:
#import libaries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/carolinazea/OneDrive/CareerFoundry/Achievement 4- Python/Instacart Basket Analysis'

In [3]:
path

'/Users/carolinazea/OneDrive/CareerFoundry/Achievement 4- Python/Instacart Basket Analysis'

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# Mixed-Type Data

## practice mixed type data by creating a column under a new dataframe, 'df_test'

In [7]:
df_test = pd.DataFrame() #new dataframe for practice

In [8]:
df_test['mix'] = ['a', 'b', 1, True] # new column named 'mix' that has numeric, string and boolean values

In [9]:
df_test.head() #check column with __.head()

    mix
0     a
1     b
2     1
3  True

## Check for mixed data types

In [10]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

## Formula to choose what single data type the column should be

In [11]:
df_test['mix'] = df_test['mix'].astype('str')

# Missing Values

## Use the __.isnull().sum() function to find missing observations. 
isnull would print out true(1) or false(0) and the sum would total the missing observations

In [12]:
df_prods.isnull().sum()   # 0 means no missing values, but there are 16 missing values from 'product_name'

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

## To view these 16 values, create subset 'df_nan' of column 'product_name'

In [13]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan #check dataframe

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
df_prods.median() #find median of dataframe

product_id       24845.0
aisle_id            69.0
department_id       13.0
prices               7.1
dtype: float64

In [16]:
df_prods.mean() #find mean of dataframe

product_id       24844.345139
aisle_id            67.770249
department_id       11.728433
prices               9.994136
dtype: float64

## Use the __.shape to compare the number of rows in df_prods (no parenthesis)

In [18]:
df_prods.shape

(49693, 5)

## Create new cleaning dataframe to exclude missing values

In [19]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [21]:
df_prods_clean.shape #check that number of rows has decreased.

(49677, 5)

## Replace clean dataframe with original dataframe

In [29]:
df_prods['product_name'].dropna(inplace = True)

# Duplicates

## Finding duplicates

In [ ]:
# create a new df that includes all duplicate values, lets call it 'df_dups'

In [23]:
df_dups = df_prods_clean[df_prods_clean.duplicated()] #formula for duplicates

In [24]:
df_dups #displays duplicate rows within df_prods_clean df

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

## Addressing duplicates

In [25]:
df_prods_clean.shape #check number of rows before removing duplicates

(49677, 5)

## Create a '_no_dups' df which doesn't include duplicates

In [ ]:
## formula to drop duplicates: df.drop_duplicates()

In [26]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [27]:
df_prods_clean_no_dups.shape #new df that doesn't duplicates has 5 less rows than the 'df_prods_clean' df

(49672, 5)

In [ ]:
# export df_prods_clean_no_dups

In [28]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_conchecked.csv'))