In [4]:
# Import libraries 
import pandas as pd
import numpy as np
import os

In [5]:
path = r'/Users/carolinazea/OneDrive/CareerFoundry/Achievement 4- Python/Instacart Basket Analysis'

## 1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [6]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_updated.pkl'))

## 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [7]:
# run data check 

ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_slowest_days,busiest_period_of_day
0,2539329,1,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,473747,1,3,3,12,21.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
3,2254736,1,4,4,7,29.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders
4,431534,1,5,4,15,28.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders
5,3367565,1,6,2,7,19.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
6,550135,1,7,1,9,20.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
7,3108588,1,8,1,14,14.000000,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
8,2295261,1,9,1,16,0.000000,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
9,2550362,1,10,4,8,30.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders
10,2968173,15,15,1,9,7.000000,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
11,1870022,15,17,2,16,8.000000,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
12,1911383,15,18,2,11,7.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
13,2715276,15,21,1,9,7.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
14,487368,15,22,1,10,14.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders

In [8]:
# run data check 

ords_prods_merge.shape

(32404859, 18)

In [9]:
# finding mean of 'order_number' using groupby () function in 'department_id' column

ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In [ ]:
# These results differ from the subset created in the exercise, mostly due to all of the 21 listed 'department_id' 
# compared to the 8 'department_id' in the exercise. I can view all the whole list of department id's using the entire 
# dataframe instead of the subset.

## 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [10]:
# From exercise, transform ()

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
# From exercise, loc ()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

## 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [12]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

## 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [13]:
# use transform () function with average

ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.average)

In [14]:
# use loc () function

ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [15]:
# check frequency 

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770646
High spender      634213
Name: spending_flag, dtype: int64

In [16]:
# check selected columns 

ords_prods_merge[['user_id', 'spending_flag', 'prices']].head(20)

    user_id spending_flag  prices
0         1   Low spender     9.0
1         1   Low spender     9.0
2         1   Low spender     9.0
3         1   Low spender     9.0
4         1   Low spender     9.0
5         1   Low spender     9.0
6         1   Low spender     9.0
7         1   Low spender     9.0
8         1   Low spender     9.0
9         1   Low spender     9.0
10       15   Low spender     9.0
11       15   Low spender     9.0
12       15   Low spender     9.0
13       15   Low spender     9.0
14       15   Low spender     9.0
15       19   Low spender     9.0
16       19   Low spender     9.0
17       19   Low spender     9.0
18       21   Low spender     9.0
19       31   Low spender     9.0

## 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [17]:
# using transform () function with median

ords_prods_merge['median_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [18]:
# use loc () function
ords_prods_merge.loc[ords_prods_merge['median_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_order'] <= 20) & (ords_prods_merge['median_order'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [19]:
# check frequency 

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        20535136
Regular customer          9168905
Non-frequent customer     2700818
Name: order_frequency_flag, dtype: int64

In [20]:
# check selected columns 

ords_prods_merge[['user_id', 'order_frequency_flag', 'days_since_prior_order']].head(20)

    user_id order_frequency_flag  days_since_prior_order
0         1     Regular customer               11.114836
1         1     Regular customer               15.000000
2         1     Regular customer               21.000000
3         1     Regular customer               29.000000
4         1     Regular customer               28.000000
5         1     Regular customer               19.000000
6         1     Regular customer               20.000000
7         1     Regular customer               14.000000
8         1     Regular customer                0.000000
9         1     Regular customer               30.000000
10       15     Regular customer                7.000000
11       15     Regular customer                8.000000
12       15     Regular customer                7.000000
13       15     Regular customer                7.000000
14       15     Regular customer               14.000000
15       19    Frequent customer                6.000000
16       19    Frequent customer                8.000000
17       19    Frequent customer                6.000000
18       21    Frequent customer                6.000000
19       31    Frequent customer                7.000000

## 8. Ensure your notebook is clean and structured and that your code is well commented.

In [21]:
# run check using .head and shape function 

ords_prods_merge.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,Busiest_slowest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_order,order_frequency_flag
0,2539329,1,1,2,8,11.114836,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
1,2398795,1,2,3,7,15.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
2,473747,1,3,3,12,21.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
3,2254736,1,4,4,7,29.000000,196,1,1,Soda,...,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
4,431534,1,5,4,15,28.000000,196,1,1,Soda,...,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
5,3367565,1,6,2,7,19.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
6,550135,1,7,1,9,20.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
7,3108588,1,8,1,14,14.000000,196,2,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
8,2295261,1,9,1,16,0.000000,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
9,2550362,1,10,4,8,30.000000,196,1,1,Soda,...,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.000000,Regular customer
10,2968173,15,15,1,9,7.000000,196,2,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.557418,Regular customer
11,1870022,15,17,2,16,8.000000,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.557418,Regular customer
12,1911383,15,18,2,11,7.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.557418,Regular customer
13,2715276,15,21,1,9,7.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.557418,Regular customer
14,487368,15,22,1,10,14.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.557418,Regular customer
15,2293453,19,2,5,14,6.000000,196,3,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059,Low spender,7.000000,Frequent customer
16,1973799,19,5,6,12,8.000000,196,15,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059,Low spender,7.000000,Frequent customer
17,532817,19,7,4,17,6.000000,196,1,1,Soda,...,Mid-range product,Least busy,Slowest Days,Average orders,9,New customer,8.372059,Low spender,7.000000,Frequent customer
18,1573906,21,10,3,10,6.000000,196,2,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,33,Regular customer,7.012683,Low spender,8.000000,Frequent customer
19,1593000,31,10,3,8,7.000000,196,17,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,20,Regular customer,8.137793,Low spender,6.000000,Frequent customer
20,2231262,31,17,3,11,8.000000,196,14,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,20,Regular customer,8.137793,Low spender,6.000000,Frequent customer
21,2580647,43,6,4,16,4.000000,196,9,0,Soda,...,Mid-range product,Least busy,Slowest Days,Average orders,11,Regular customer,7.444898,Low spender,10.000000,Frequent customer
22,2187180,43,9,4,12,3.000000,196,1,1,Soda,...,Mid-range product,Least busy,Slowest Days,Average orders,11,Regular customer,7.444898,Low spender,10.000000,Frequent customer
23,2497897,52,1,1,9,11.114836,196,4,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
24,1318871,52,2,1,10,7.000000,196,5,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
25,1261384,52,3,1,10,7.000000,196,3,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
26,580568,52,5,2,10,8.000000,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
27,2428073,52,7,2,7,8.000000,196,5,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
28,342306,52,9,1,11,7.000000,196,5,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
29,1520353,52,10,2,10,8.000000,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
30,2542086,52,11,2,9,7.000000,196,3,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
31,944694,52,12,1,16,6.000000,196,7,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
32,1268191,52,15,2,11,8.000000,196,3,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
33,1122089,52,17,2,10,6.000000,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
34,1498922,52,18,2,10,14.000000,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
35,180919,52,19,3,8,8.000000,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
36,2695875,52,21,5,10,30.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.000000,Frequent customer
37,3205960,67,1,3,11,11.114836,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
38,970922,67,2,1,15,5.000000,196,2,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
39,596585,67,3,1,13,7.000000,196,2,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
40,2037087,67,4,2,9,8.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
41,2474111,67,5,3,14,8.000000,196,2,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
42,1568481,67,6,3,12,7.000000,196,2,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
43,2048527,67,8,2,11,7.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
44,2389031,67,9,2,14,7.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
45,2378562,67,10,1,10,6.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
46,1515698,67,11,1,11,7.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
47,1928050,67,12,2,12,8.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
48,1949274,67,13,1,10,6.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer
49,551869,67,14,1,9,7.000000,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.000000,Frequent customer

In [22]:
ords_prods_merge.shape

(32404859, 24)

In [23]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_day',
       'Busiest_slowest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'avg_price', 'spending_flag', 'median_order',
       'order_frequency_flag'],
      dtype='object')

In [24]:
ords_prods = ords_prods_merge.drop(columns = ['_merge'])

In [25]:
ords_prods.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'Busiest_slowest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'avg_price', 'spending_flag', 'median_order',
       'order_frequency_flag'],
      dtype='object')

## 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [26]:
ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_groupingdata.pkl'))

## 10. Save your notebook and submit it to your tutor for review.