In [17]:
#import libraries 
import pandas as pd 
import numpy as np
import os

In [18]:
path = r'/Users/carolinazea/OneDrive/CareerFoundry/Achievement 4- Python/Instacart Basket Analysis'

In [19]:
df_ords_prior = pd.read_csv(os.path.join(path, '01 Project Management', 'order_products__prior.csv'), index_col = False)

In [20]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_consistencychecked.csv'), index_col = False)

## 1. Merge your prepared Instacart orders data with the new orders_products_prior dataframe

In [21]:
#we are only working with full match sets, so we will not be using (how = 'inner') for this dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [22]:
#check .head()
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,11.114836,196,1,0,both
1,0,2539329,1,1,2,8,11.114836,14084,2,0,both
2,0,2539329,1,1,2,8,11.114836,12427,3,0,both
3,0,2539329,1,1,2,8,11.114836,26088,4,0,both
4,0,2539329,1,1,2,8,11.114836,26405,5,0,both

In [23]:
#check .shape
df_merged_large.shape

(32434489, 11)

In [24]:
#check .value_counts()
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## 2. Export the merged file in pickle format as 'orders_products_combined.pkl'

In [21]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))